{% macro small_box(bgcolor="bg-yellow", header="44", percentage=False, body="User Registrations", iconclass="ion ion-person-add", footerlink="#") %}

<!-- small box -->
<div class="small-box {{bgcolor}}">
  <div class="inner">
    <h3>
      {{header}}{% if percentage %}<sup style="font-size: 20px">%</sup>{% endif %}
    </h3>

    <p>{{body}}</p>
  </div>
  <div class="icon">
    <i class="{{iconclass}}"></i>
  </div>
  <a href="{{footerlink}}" class="small-box-footer">
    More info <i class="fa fa-arrow-circle-right"></i>
  </a>
</div>

{% endmacro %}

{% macro info_box(bgcolor="bg-red", number="44", text="Likes", iconclass="fa fa-star-o") %}

<!-- info box -->
<div class="info-box">
  <span class="info-box-icon {{ bgcolor }}"><i class="{{ iconclass }}"></i></span>
  <div class="info-box-content">
    <span class="info-box-text">{{ text }}</span>
    <span class="info-box-number">{{ number }}</span>
  </div>
</div>

{% endmacro %}

